/* Основни стилове за хедъра */
.header {
  background-color:#4173A8 ;
  color: #fff;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.search input, .search select, .search button {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.search input {
  width: 200px;
}

.search button {
  background-color: #ffc107;
  color: #000;
  cursor: pointer;
}

.prof {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.prof li {
  list-style: none;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.header-part{
  width: 100%;
}

.header-part img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;

}

/* Стилове за по-малки екрани */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .search {
      width: 100%;
      flex-direction: column;
  }

  .search input {
      width: 100%;
  }

  .prof {
      width: 100%;
      justify-content: space-between;
  }

  .nav-links {
      width: 100%;
      justify-content: space-between;
  }

  .header-part img {
      width: 100%;
  }
}
